.boxes {
    width: 200px;
    height: 100px;
    border: 1px solid black;
}

@media (max-width: 599px)  {
    #small {
        display: none;
    }
}

@media (min-width: 600px){
    #medium {
        width: 400px
    }
}

@media (min-width: 1000px) {
    #large {
        background-color: blue;
        color: white;
    }
}

.container-Ejemplo1-MediaQueries {
    font-size: 16px;
}



@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
@media (min-width: 601px) and (max-width: 1024px) {
    body {
        font-size: 18px;
    }
}
@media (min-width: 1025px) {
    body {
        font-size: 22px;
    }
}




#contanierEjemplo1Flex {
    margin-top: 50px;
    display: flex;
    height: 300px;
    border: 1px solid black;

}
.boxesEjemplo1Flex {
    display: block;
    border: 1px solid black;
    height: 100px;
    width: 200px;

}


#containe1rEjemplo2Flex {
    margin-top: 50px;
    border: 1px solid black;
    height: 301px;
}

#container2Ejemplo2Flex {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    height: 301px;

}

.boxesAEjemplo2Flex {
    display: block;
    border: 1px solid black;
    height: 100px;
    width: 200px;
    background-color: red;
    color: white;
}

.boxesBEjemplo2Flex {
    display: block;
    border: 1px solid black;
    height: 100px;
    width: 200px;
    background-color: blue;
    color: white;
}

#ejemplo2FlexBox6 {
    align-self:self-end;
}